:root {
    --white-color : #FFFFFF;
    --blue-color : #121661;
    --skyblue-color: #1072EB;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Helvetica Neue', sans-serif;
}

header {
    height: 114vh;
    background-image: url(/assets/img/background-swirls.png);
    background-size: cover;
    background-color: #142C8E;
}

nav {
    padding: 0 30px;
    height: 15%;
    background-color: var(--white-color);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.nav-left {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 25px;
    
}

.nav-left a {
    font-size: 1.1rem;
    font-weight: 400;
    text-decoration: none;
}
.nav-left img {
    width: 2.8vw;
}

.nav-right {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
}

.nav-right a {
    font-size: 1.1rem;
    text-decoration: none;
}

.btn {
    
    border: solid 2px;
    padding: 12px 25px;
    border-radius: 50px;
    font-weight: 700;
    
}

.btn-blank {
    font-weight: 700;
}

.btn-full {
    background-color: var(--blue-color);
    color: var(--white-color);
    font-weight: 700;
}

/* hero-section */
.hero-sec {
    display: flex;
    flex-direction: column;
}

.hero-sec h1 {
    padding: 0px 100px;
    padding-top: 78px;
    color: var(--white-color);
    font-size: 3rem;
    font-weight: 400;
    
}

.second-part {
    margin-top: 0;
    padding: 0 65px;
    display: flex;
    flex-direction: row;
    gap: 35px;

    
}

.left-hero {
    padding: 0 20px;
    
    
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.left-hero h4 {
    padding-top: 20px;
    font-size: 23px;
    color: #56CCFE;
    font-weight: 400;
}

.left-hero h3  {
    padding-top: 50px;
    font-size: 20px;
    font-weight: 600;
    color: var(--white-color);
    
}

.left-hero h3 a {
    text-decoration: none;
}

.third-part {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
}

.left {
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    
}

.border {
    border: 0.5px solid var(--white-color) ;
    height: 250px;
}

.right {
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
    

}

.right input {
    padding:20px 35px;
    border-radius: 4px;
    outline: none;
    border: none;
    font-size: 15px;
    font-weight: 400;
}

.right .btn-hero {
    padding: 15px 25px;
    font-size: 15px;
    background-color:#F9B822;
    border: none;
}

.right p {
    font-size: 14px;
    font-weight: 600;
    color: var(--white-color);
    line-height: 20px;
    text-align: left;
}

.right-hero {
   padding-right: 70px;
}

.right-hero img {
    width: 40vw;
}




